*{
    background-color: rgb(189, 189, 249);
    font-family: 'Courier New', monospace;
    color:rgb(102, 62, 102);
    }
    h1{
        font-size: 50px;
        text-align: center;
    }
    .indexpic {
        display: block;
        margin: auto;
        border:thick double rgb(102, 62, 102) ;
        width: 540px;
        
    }
    .recipenames{
        font-size: 30px;
        border:thick double rgb(102, 62, 102) ;
        width: 500px;
        display: block;
        margin: 20px auto;
        list-style-type: none;
        
    }
    
    li{
        padding: 6px;
        text-align: center;
        padding-right: 45px;
        
    }